body{
  background-color: white; line-height: 2.9vw;
  margin: 0;  word-break: keep-all;
}
h2{
  color: white; font-size: 2.3vw; font-family: Arial, sans-serif;
  position: absolute; top: 22vw; left: 58vw;
}
h3{
  font-size: 2.5vw; font-family: Arial, sans-serif;
  margin-top: 1vw;
}
.menu{
  background-color: rgb(0, 50, 0); height: 3.5vw;
  position: sticky; top: 0; font-size: 1.4vw; z-index: 3;
}
#slogan1{
  color: white; font-size: 6vw; font-family: Arial, sans-serif;
  position: absolute; top: 19vw; left: 20vw; font-weight: bold;
}
#slogan2{
  display: none;
}
#menu_grid{font-family: Arial, sans-serif; color: white; padding-top: 0.3vw;}
.content1{padding: 10px; margin-top: 10vw; color: black; text-align: left;
         z-index: 2; position: relative;}
.text_center{text-align: center;}
.center{left: 20vw;}
.top_content{margin-top: 10vw;}
.max_width{max-width: 1200px;}
.each_menu{padding-left: 3.5vw; padding-right: 3.5vw;}
.innerbox_left{
  float: left; width: 40vw; height: auto;
  font-size: 1.7vw; font-family: Arial, sans-serif;
  padding-left: 6vw;
}
.innerbox_right{
  float:right; width: 40vw; height: auto; padding-right: 6vw;
  font-size: 1.7vw; font-family: Arial, sans-serif;
}
.arrow{
  border: solid rgb(0, 50, 0);
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.3vw;
  margin-top: 0.9vw;
  float: right;
}
.arrow_right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.more{
  color: rgb(0, 50, 0);
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.8vw;
  float: right;
}
#header{
  background-image: url(salad3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; height: 30vw;
}
#soil{
  z-index: 1; position: absolute; top: 80vw; left: 0vw;
  width: 100%; height: auto; display: block;
}
#second{
  padding-top: 20vw;
  background-color: transparent;
}
#bottom{
  background-color: rgb(0, 15, 0); width: 100%; height: 9vw;
  color: white; margin-top: 20vw;
  font-family: Arial, sans-serif; font-size: 1.5vw
}
@media(max-width:800px){
  .menu{
    background-color: rgb(0, 50, 0); height: 40px;
    position: sticky; top: 0; font-size: 15px; z-index: 3;
  }
  .each_menu{
    padding-left: 1.5vw; padding-right: 1.5vw;
  }
  h2{
    color: white; font-size: 25px; font-family: Arial, sans-serif;
    position: absolute; top: 200px; left: 10vw;
    text-shadow: -1px 0px 1px black;
  }
  h3{
    font-size: 18pt; margin-top: 8vw;
  }
  body{
    line-height: 30pt; word-break: keep-all;
  }
  .innerbox_left{
    float: none; width: 90%; height: auto;
    font-size: 15pt; font-family: Arial, sans-serif;
    padding-left: 5vw;
  }
  .innerbox_right{
    float: none; width: 90%; height: auto; padding-left: 5vw;
    font-size: 15pt; font-family: Arial, sans-serif;
  }
  .arrow{
    border: solid rgb(0, 50, 0);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 14px;
    float: right;
  }
  .arrow_right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .more{
    color: rgb(0, 50, 0);
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
    float: right;
  }
  #header{
    background-image: url(salad3.jpg);
    background-repeat: no-repeat;
    background-position: -100px;
    background-size: cover;
    width: 100%; height: 300px;
  }
  #slogan1{
    display: none;
  }
  #slogan2{
    color: white; font-size: 60px; font-family: Arial, sans-serif;
    position: absolute; top: 30px; left: 10vw; line-height: 60px;
    font-weight: bold; display: block; text-shadow: -1px 0px 1px black;
  }
  #soil{
    display: none;
  }
  #first{
    padding-top: 7vw;
  }
  #second{
    background-image: url(soil2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding-bottom: 30vw;
    margin-top: 15vw;
  }
  #bottom{
    font-size: 14px; height: 100px;
  }
}
